.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		border: 1px solid black;
		cursor: pointer;
		border-radius: 50%;
	}

	.selected {
		a {
			background-color: #fe5f1e;
			color: #fff;
		}
	}
}
